<div class="leftside-menu">

    <!-- LOGO -->
    <a href="/Admin/" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="~/Template/assets/images/logo.png" alt="" height="64">
        </span>
        <span class="logo-sm">
            <img src="~/Template/assets/images/logo.png" alt="" height="64">
        </span>
    </a>

    <!-- LOGO -->
    <a href="/Admin" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="~/Template/assets/images/logo.png" alt="" height="64">
        </span>
        <span class="logo-sm">
            <img src="~/Template/assets/images/logo.png" alt="" height="64">
        </span>
    </a>





    <div class="h-100" id="leftside-menu-container" data-simplebar="">

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a href="/Admin/" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Home Page </span>
                </a>
            </li>

            <li class="side-nav-title side-nav-item">APPS</li>

        
            <li class="side-nav-item">
                <a href="/Admin/Category" class="side-nav-link">
                    <i class="uil-copy-alt"></i>
                    <span> Category </span>
                </a>
            </li>
          
        </ul>


        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>


    <!-- Sidebar -left -->

</div>
